node_modules/
.env
*.log
npm-debug.log*
.DS_Store
Eventista ssh key
Eventista ssh key.pub
system_structure_analysis.md
frontend/Frontend compiled scripts.txt
backend/Environment Variables Security.md
backend/Backend compiled scripts.txt
frontend/login and registration scripts.txt
frontend/central-hub-routing.md
frontend/Technical Audit & Code Clean-Up Analysis.md
frontend/central-hub-routing.md
frontend/login and registration scripts.txt
frontend/Technical Audit & Code Clean-Up Analysis.md
